<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="\css\styles.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>

    <header>

        <div class="top-header">
            <div class="img-logo">
                <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            </div>
            <div class="buscador">
                <div class="imput">Buscar producto,marca</div>
                <div class="lupa"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjetas</p>
        </div>

        <nav>

            <ul>
                <li>
                    <a href="">Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="">Vender</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>

            </ul>
            <ul>
                <li>
                    <a href="/register"> Creá tu cuenta</a>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                </li>
                <li>
                    <a href="">Mis compras</a>
                </li>
    
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        
    </header>

  

    <main id="formulario-registro">
        <form class="formularios" action="/" method="get">
            <div>
                <input class="text-field" type="text" name="nombre completo" placeholder="Nombre y Apellido">
            </div>
            <div>
                <input class="text-field" type="text" name="usuario" placeholder="Nombre de usuario">
            </div>
            <div>
                <label for="nacimiento">Fecha de nacimiento</label>
            </div>
            <div>
                <input type="date" id="nacimiento" name="nacimiento">
            </div>
            <div>
                <input class="text-field" type="email" name="email" placeholder="email">
            </div>
            <div>
                <input class="text-field" type="text" name="domicilio" placeholder="calle sin salida">
            </div>
            <h3>Tipo de perfil</h3>
            <div class="selecciones">
                <div>
                    <input type="radio" name="perfil" value="comprador" id="comprador">
                    <label for="comprador">comprador</label>
                </div>
                <div>
                    <input type="radio" name="perfil" value="vendedor" id="Vendedor">
                    <label for="vendedor">Vendedor</label>
                </div>
            </div>
            <h3>Intereses</h3>
            <div class="selecciones">
                <div>
                    <input type="checkbox" name="interés" value="electro" id="electro">
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="interés" value="moda" id="moda">
                    <label for="moda">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="interés" value="hogar" id="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="interés" value="jugueteria" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div>
                    <input type="checkbox" name="interés" value="vidaSana" id="vidaSana">
                    <label for="vidaSana">Vida sana</label>
                </div>
            </div>
            <div>
                <label for="fotoPerfil">Foto de Usuario</label>
                <input type="file" name="fotoPerfil" id="fotoPerfil">
            </div>
            <div>
                <input class="text-field" type="password" name="contrasenia" placeholder="contrasenia">
                <input class="text-field" type="password" name="confirmar contrasenia" placeholder="confirmar contrasenia">
            </div>
           
            <div>
                <button class="botonForm botonSubmit" type="submit">Enviar</button>
                <button class="botonForm botonReset" type="reset">Cancelar</button>
            </div>





        </form>

    </main>

    <footer>
        <section>
            <div>
                <i class="fas fa-credit-card"></i>    
                <h4>
                    Pagá con tarjeta o en efectivo
                </h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h4>
                    Envío gratis desde $ 2.500
                </h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h4>
                    Seguridad, de principio a fin
                </h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            <div>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>


    </footer>
    
</body>
</html>